@model IEnumerable<WorkflowProcess.Data.ProjectActivity>

@{
    ViewBag.Title = "Index";
    if (Convert.ToInt32(Session["Role"]) == 2)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else if (Convert.ToInt32(Session["Role"]) == 3)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    }
}

<h2>Project Activity</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityStatus.ActivityStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.ActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityStatus.ActivityStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectActivityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectActivityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectActivityId })
        </td>
    </tr>
}

</table>
