@model WorkflowProcess.Data.WorkflowActivityStream

@{
    ViewBag.Title = "Delete";
    if (Convert.ToInt32(Session["Role"]) == 3)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    }
}

<h2>Delete WorkflowActivityStream</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>WorkflowActivityStream</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Predecessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predecessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Successor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Successor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JumpTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JumpTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkFlow.WorkflowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkFlow.WorkflowName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
