@model WorkflowProcess.Data.ActivityStatus

@{
    ViewBag.Title = "Details";
    if (Convert.ToInt32(Session["Role"]) == 3)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    }
}

<h2>Details</h2>

<div>
    <h4>ActivityStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityStatusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
