@model IEnumerable<WorkflowProcess.Data.ActivityStatus>

@{
    ViewBag.Title = "Index";
    if (Convert.ToInt32(Session["Role"]) == 3)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    }
}

<h2>ActivityStatus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivityStatusId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ActivityStatusId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ActivityStatusId })
        </td>
    </tr>
}

</table>
