@model IEnumerable<WorkflowProcess.Data.Project>

@{
    ViewBag.Title = "Index";
    if (Convert.ToInt32(Session["Role"]) == 2)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else if (Convert.ToInt32(Session["Role"]) == 3)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    }
}

<h2>Project</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus.ProjectStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkFlow.WorkflowName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.ActionLink(Html.DisplayFor(modelItem => item.ProjectName).ToString(), // <-- Link text
         "Details", // <-- Action Method Name
         new {@class="ui-btn DisplayDetails"} // <-- htmlArguments
        )*@

            @*@Html.ActionLink(Html.DisplayFor(modelItem => item.ProjectName).ToString(), "Details", new { id = item.WorkFlow.WorkflowID, @class = "ui-btn DisplayDetails" })*@
            <a href="#" data-id="@item.WorkFlow.WorkflowID" class="js-reload-details">@item.ProjectName</a>
            @*<button type="button" data-id="@item.WorkFlow.WorkflowID" class="js-reload-details">@item.ProjectName</button>*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStatus.ProjectStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkFlow.WorkflowName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ProjectId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
<div id="detailsDiv"></div>
@*<script>
$(function(){
    $(".DisplayDetails").click(function(){
        var workflowId = $(this).data("id");
        $.ajax({
            method: "GET",
            url: "", 
            data: { id: workflowId },
            cache: false,
            success: function(e){
                $(".js-bus-details").html(e);
            }
        });
    })
})
</script>*@
<script>
    $(document).ready(function () {
    var url = '@Url.Action("WorkFlowDetail", "Project")'
        $('.js-reload-details').click(function () {
            $.get(url, { id: $(this).data('id') }, function (data) {
                $('#detailsDiv').html(data);
            });
        });
        });
</script>
